<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Afrik digital network{% end block %}</title>
</head>
<body class="bg-gray-100">
    <nav class="bg-white shadow-lg">
        <div class="max-w-7x1 mx-auto px-4">
            <div class="flex justify-between">
                <div class="flex space-x-7">
                    <div>
                        <a href="#" class="flex items-center py-4">
                            <span class="font-bold text-gray-500">Afrik Digital Network</span>
                        </a>
                    </div>
                    <div class="hidden md:flex items-center space-x-3">
                        <a href="#" class="py-4 px-3">Home</a>
                        <a href="#" class="py-4 px-3">Services</a>
                        <a href="#" class="py-4 px-3">About</a>
                        <a href="#" class="py-4 px-3">Contact</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</body>
</html>
